[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/guardianproject/openssl-android.git
[submodule "external/sqlcipher"]
	path = external/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
[submodule "external/libsqlfs"]
	path = external/libsqlfs
	url = https://github.com/guardianproject/libsqlfs.git
[submodule "external/libcore"]
	path = external/libcore
	url = http://android.googlesource.com/platform/libcore
