bin/
gen/
libs/
obj/
external/*/libs
external/*/obj
external/libsqlfs-build-stamp
jni/TAGS
# Mac OS X detritus
.DS_Store
# products of "android create project" or "android update project"
build.xml
local.properties
proguard-project.txt
proguard.cfg
*~
.settings
#kdevelop files
*.kdev4
