[submodule "external/openssl"]
	path = external/openssl
	url = git@github.com:guardianproject/openssl-android.git
[submodule "external/sqlcipher"]
	path = external/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
